In [7]:
import os
print(os.getcwd())

C:\Users\baska\Desktop\New Data_journey\Data\Youtube_Stackoverflow\Gold Price

In [8]:
import pandas as pd

# 1. Start with 'r' for a raw string
# 2. Use the full absolute path, including the filename
gold_dataset = pd.read_csv(r'C:\Users\baska\Desktop\New Data_journey\Data\Youtube_Stackoverflow\Gold Price\gold_price_data_new1_2024.csv')

print("Data loaded successfully!")
print(gold_dataset.head())

Data loaded successfully!
         Date    USD_INR  Gold rate
0  2024-01-01  83.240601  ₹5,066.31
1  2024-01-08  83.076103  ₹4,955.58
2  2024-01-15  83.160599  ₹4,972.08
3  2024-01-22  83.146103  ₹4,987.35
4  2024-01-29  82.927597  ₹4,976.77

In [18]:
import sqlite3

In [19]:
gold_dataset['Gold rate']=gold_dataset['Gold rate'].replace('₹','',regex=True).replace(',','',regex=True).astype(float)

In [20]:
gold_dataset.head()

         Date    USD_INR  Gold rate
0  2024-01-01  83.240601    5066.31
1  2024-01-08  83.076103    4955.58
2  2024-01-15  83.160599    4972.08
3  2024-01-22  83.146103    4987.35
4  2024-01-29  82.927597    4976.77

In [21]:
conn = sqlite3.connect("gold_data.db")

In [22]:
gold_dataset.to_sql("gold_prices", conn, if_exists="replace", index=False)

53

In [23]:
query_result = pd.read_sql("SELECT * FROM gold_prices LIMIT 5;", conn)
print(query_result.head())

         Date    USD_INR  Gold rate
0  2024-01-01  83.240601    5066.31
1  2024-01-08  83.076103    4955.58
2  2024-01-15  83.160599    4972.08
3  2024-01-22  83.146103    4987.35
4  2024-01-29  82.927597    4976.77

In [24]:
conn.close()